@font-face {
  font-family: "Fallout";
  src: url('../fonts/fallout/fallout_text.woff2');
  font-weight: normal;
  font-style: normal;
}

:root{
  --green-4: #75d172;
  --green-3: #199515;
  --green-2: #145b11;
  --green-1: #073605;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Fallout, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
